workflows/templates/transcript-pipeline-blog-generator-information-extractor.json
{
  "name": "Transcript Pipeline - Blog Post Generator (Gemini AI)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule_trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "mode": "id",
          "value": "bdd14a97edf74955a841be2ab498c8da"
        },
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Status",
              "condition": "equals",
              "value": "Ready to Process"
            }
          ]
        },
        "options": {}
      },
      "id": "find_transcripts",
      "name": "Find Transcripts to Process",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [450, 300],
      "credentials": {
        "notionApi": {
          "id": "notion_credentials",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check_if_transcripts_found",
      "name": "Check if Transcripts Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $json.id }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status",
              "selectValue": "Processing"
            }
          ]
        },
        "options": {}
      },
      "id": "update_status",
      "name": "Update Status to Processing",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [850, 300],
      "credentials": {
        "notionApi": {
          "id": "notion_credentials",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "mode": "id",
          "value": "={{ $('Find Transcripts to Process').item.json.id }}"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "get_page_content",
      "name": "Get Page Content",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1050, 300],
      "credentials": {
        "notionApi": {
          "id": "notion_credentials",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ JSON.stringify($input.all()) }}",
        "schemaType": "fromDescription",
        "attributes": [
          {
            "name": "transcript",
            "description": "Extract all text content from the Notion blocks. Look for paragraph, heading_1, heading_2, heading_3, quote, bulleted_list_item, numbered_list_item, code, toggle, and callout block types. For each block, extract the plain_text from the rich_text arrays. Combine all extracted text into a single continuous transcript.",
            "type": "string",
            "required": true
          },
          {
            "name": "title",
            "description": "Extract the title from the first heading_1 block, or if not found, use the first non-empty heading of any level. If no headings exist, return 'Untitled Transcript'.",
            "type": "string",
            "required": true
          },
          {
            "name": "wordCount",
            "description": "Count the total number of words in the extracted transcript.",
            "type": "number",
            "required": true
          }
        ]
      },
      "id": "information_extractor",
      "name": "Information Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "openai_chat_model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1250, 450],
      "credentials": {
        "openAiApi": {
          "id": "openai_credentials",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.transcript }}"
      },
      "id": "basic_llm_chain",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "model": "gemini-1.5-flash",
        "options": {
          "temperature": 0.7,
          "maxOutputTokens": 2000,
          "topP": 0.95,
          "topK": 40
        }
      },
      "id": "google_gemini_model",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1450, 450],
      "credentials": {
        "googlePalmApi": {
          "id": "google_palm_credentials",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "values": {
            "messageValues": [
              {
                "message": "You are a professional blog writer creating SEO-optimized content from video transcripts.\n\nBRAND VOICE: Professional, educational, actionable. Focus on practical insights and real-world applications.\n\nCONTENT FORMAT:\n- Compelling SEO title (60-70 characters)\n- Engaging introduction with hook (150-200 words)\n- 3-4 main sections with H2 subheadings\n- Include relevant quotes from the transcript when available\n- Practical examples and actionable takeaways\n- Strong conclusion with clear call-to-action\n- Target length: 1200-1500 words\n\nOUTPUT INSTRUCTIONS: Return ONLY the complete blog post content in markdown format. No additional explanations or formatting notes.\n\nCreate a comprehensive blog post from this transcript:\n\nTitle: {{ $('Information Extractor').item.json.title }}\n\nTranscript:\n{{ text }}"
              }
            ]
          }
        }
      },
      "id": "chat_prompt_template",
      "name": "Chat Prompt Template",
      "type": "@n8n/n8n-nodes-langchain.chatPromptTemplate",
      "typeVersion": 1,
      "position": [1450, 600]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "mode": "id",
          "value": "f30872f72ecf47f38bdd4ad17a1a813e"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Title",
              "title": "Blog: {{ $('Information Extractor').item.json.title }}"
            },
            {
              "key": "Content Type",
              "selectValue": "Blog Post"
            },
            {
              "key": "Status",
              "selectValue": "Draft"
            },
            {
              "key": "Word Count",
              "numberValue": "={{ $('Information Extractor').item.json.wordCount }}"
            },
            {
              "key": "Source",
              "textValue": "={{ $('Find Transcripts to Process').item.json.id }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "paragraph",
              "richText": true,
              "text": "={{ $json.response || $json.text || $json.output || 'No content generated' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create_blog_hub",
      "name": "Create Blog in Content Hub",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1650, 300],
      "credentials": {
        "notionApi": {
          "id": "notion_credentials",
          "name": "Notion account"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Find Transcripts to Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Transcripts to Process": {
      "main": [
        [
          {
            "node": "Check if Transcripts Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Transcripts Found": {
      "main": [
        [
          {
            "node": "Update Status to Processing",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Update Status to Processing": {
      "main": [
        [
          {
            "node": "Get Page Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Content": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create Blog in Content Hub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Prompt Template": {
      "ai_prompt": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_prompt",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  }
}