workflows/templates/workflow-1-blog-generator-properties.json
{
  "name": "Video Pipeline - Blog Post Generator (Properties Version)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule_trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "mode": "id",
          "value": "bdd14a97edf74955a841be2ab498c8da"
        },
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Status",
              "condition": "equals",
              "value": "Ready to Process"
            }
          ]
        },
        "options": {
          "downloadFiles": false
        }
      },
      "id": "find_videos",
      "name": "Find Videos to Process",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [450, 300],
      "credentials": {
        "notionApi": {
          "id": "notion_credentials",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javascript",
        "jsCode": "// Get the video data with all properties\nconst videoData = $('Find Videos to Process').item.json;\n\nconsole.log('Video data structure:', JSON.stringify(videoData, null, 2));\n\nlet transcript = '';\nlet videoTitle = '';\nlet debugInfo = [];\n\n// Try different ways to extract the transcript\n// Method 1: Check if there's a Transcript property\nif (videoData.properties?.Transcript) {\n  const transcriptProp = videoData.properties.Transcript;\n  debugInfo.push(`Found Transcript property of type: ${transcriptProp.type}`);\n  \n  if (transcriptProp.rich_text && Array.isArray(transcriptProp.rich_text)) {\n    for (const text of transcriptProp.rich_text) {\n      transcript += text.plain_text || text.text?.content || '';\n    }\n  } else if (transcriptProp.title && Array.isArray(transcriptProp.title)) {\n    for (const text of transcriptProp.title) {\n      transcript += text.plain_text || text.text?.content || '';\n    }\n  } else if (typeof transcriptProp === 'string') {\n    transcript = transcriptProp;\n  }\n}\n\n// Method 2: Check for a Content property\nif (!transcript && videoData.properties?.Content) {\n  const contentProp = videoData.properties.Content;\n  debugInfo.push(`Found Content property of type: ${contentProp.type}`);\n  \n  if (contentProp.rich_text && Array.isArray(contentProp.rich_text)) {\n    for (const text of contentProp.rich_text) {\n      transcript += text.plain_text || text.text?.content || '';\n    }\n  }\n}\n\n// Method 3: Check for Description or any text property\nif (!transcript) {\n  const textProperties = ['Description', 'Text', 'Body', 'Notes'];\n  for (const propName of textProperties) {\n    if (videoData.properties?.[propName]) {\n      const prop = videoData.properties[propName];\n      debugInfo.push(`Checking ${propName} property of type: ${prop.type}`);\n      \n      if (prop.rich_text && Array.isArray(prop.rich_text)) {\n        for (const text of prop.rich_text) {\n          transcript += text.plain_text || text.text?.content || '';\n        }\n        if (transcript) break;\n      }\n    }\n  }\n}\n\n// Method 4: Look through ALL properties for any with text content\nif (!transcript) {\n  debugInfo.push('Scanning all properties for text content...');\n  for (const [propName, propValue] of Object.entries(videoData.properties || {})) {\n    if (propValue?.rich_text && Array.isArray(propValue.rich_text) && propValue.rich_text.length > 0) {\n      debugInfo.push(`Found text in property: ${propName}`);\n      // Skip if it's likely a title or status field\n      if (!['Title', 'Name', 'Status'].includes(propName)) {\n        for (const text of propValue.rich_text) {\n          const content = text.plain_text || text.text?.content || '';\n          if (content.length > 50) { // Only use if it has substantial content\n            transcript += content + '\\n';\n          }\n        }\n      }\n    }\n  }\n}\n\n// Extract video title\nif (videoData.properties?.Title?.title?.[0]) {\n  videoTitle = videoData.properties.Title.title[0].plain_text || \n               videoData.properties.Title.title[0].text?.content || '';\n} else if (videoData.properties?.Name?.title?.[0]) {\n  videoTitle = videoData.properties.Name.title[0].plain_text || \n               videoData.properties.Name.title[0].text?.content || '';\n}\n\n// If still no title, use the page URL or ID\nif (!videoTitle) {\n  videoTitle = 'Video ' + (videoData.id || 'Unknown');\n}\n\n// Clean up transcript\ntranscript = transcript.trim();\n\n// Create a detailed debug message if no transcript found\nif (!transcript) {\n  const availableProps = Object.keys(videoData.properties || {}).join(', ');\n  transcript = `No transcript content found. Available properties: ${availableProps}. Debug info: ${debugInfo.join('; ')}`;\n}\n\nreturn [\n  {\n    json: {\n      transcript,\n      videoTitle,\n      videoId: videoData.id,\n      pageUrl: videoData.url,\n      availableProperties: Object.keys(videoData.properties || {}),\n      debugInfo: debugInfo.join('; '),\n      wordCount: transcript.split(/\\s+/).filter(word => word.length > 0).length,\n      hasTranscript: transcript && !transcript.includes('No transcript content found')\n    }\n  }\n];"
      },
      "id": "extract_from_properties",
      "name": "Extract Transcript from Properties",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasTranscript }}",
              "operation": "true"
            }
          ]
        }
      },
      "id": "check_transcript",
      "name": "Has Transcript?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "mode": "id",
          "value": "={{ $('Find Videos to Process').item.json.id }}"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "get_blocks_fallback",
      "name": "Get Page Blocks (Fallback)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1050, 400],
      "credentials": {
        "notionApi": {
          "id": "notion_credentials",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javascript",
        "jsCode": "// Combine data from properties extraction or blocks\nlet finalData;\n\n// Check if we came from the properties path (has transcript)\nif ($('Extract Transcript from Properties').item.json.hasTranscript) {\n  finalData = $('Extract Transcript from Properties').item.json;\n} else {\n  // We came from the blocks path\n  const blocks = $('Get Page Blocks (Fallback)').all();\n  const propData = $('Extract Transcript from Properties').item.json;\n  \n  let transcript = '';\n  let blockTypes = [];\n  \n  // Extract text from blocks\n  for (const item of blocks) {\n    const block = item.json;\n    blockTypes.push(block.type);\n    \n    // Generic text extraction from any block type\n    const blockContent = block[block.type];\n    if (blockContent?.rich_text && Array.isArray(blockContent.rich_text)) {\n      for (const text of blockContent.rich_text) {\n        transcript += (text.plain_text || text.text?.content || '') + ' ';\n      }\n      transcript += '\\n';\n    }\n  }\n  \n  transcript = transcript.trim();\n  \n  if (!transcript) {\n    transcript = `No content found in ${blocks.length} blocks. Block types found: ${blockTypes.join(', ')}`;\n  }\n  \n  finalData = {\n    transcript,\n    videoTitle: propData.videoTitle,\n    videoId: propData.videoId,\n    pageUrl: propData.pageUrl,\n    wordCount: transcript.split(/\\s+/).filter(word => word.length > 0).length,\n    debugInfo: `Properties checked: ${propData.debugInfo}. Blocks checked: ${blockTypes.join(', ')}`,\n    blockCount: blocks.length\n  };\n}\n\nreturn [{\n  json: finalData\n}];"
      },
      "id": "merge_transcript",
      "name": "Merge Transcript Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.transcript }}"
      },
      "id": "llm_chain",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "projectId": "{{ $credentials.projectId }}",
        "modelName": "gemini-1.5-flash-latest",
        "options": {
          "temperature": 0.7,
          "maxOutputTokens": 2000,
          "topP": 0.95,
          "topK": 40
        }
      },
      "id": "gemini_model",
      "name": "Google Vertex Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleVertex",
      "typeVersion": 1,
      "position": [1450, 450],
      "credentials": {
        "googleVertexAuth": {
          "id": "google_vertex_credentials",
          "name": "Google Vertex AI"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a professional blog writer creating SEO-optimized content.\n\nBRAND VOICE: Professional, educational, actionable. Focus on practical insights and real-world applications.\n\nCONTENT FORMAT:\n- Compelling SEO title (60-70 characters)\n- Engaging introduction with hook (150-200 words)\n- 3-4 main sections with H2 subheadings\n- Include relevant quotes from the transcript when available\n- Practical examples and actionable takeaways\n- Strong conclusion with clear call-to-action\n- Target length: 1200-1500 words\n\nOUTPUT INSTRUCTIONS: Return ONLY the complete blog post content. No additional explanations or formatting notes.\n\nIf the transcript appears to be missing or invalid, create a blog post about the importance of proper content documentation and transcript management."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "Create a blog post from this content:\n\nVideo Title: {{ $('Merge Transcript Data').item.json.videoTitle }}\n\nTranscript:\n{{ text }}"
            }
          ]
        }
      },
      "id": "prompt_template",
      "name": "Chat Prompt Template",
      "type": "@n8n/n8n-nodes-langchain.chatMessagePromptTemplate",
      "typeVersion": 1.1,
      "position": [1450, 600]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "mode": "id",
          "value": "f30872f72ecf47f38bdd4ad17a1a813e"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Title",
              "title": "Blog: {{ $('Merge Transcript Data').item.json.videoTitle }}"
            },
            {
              "key": "Content Type",
              "selectValue": "Blog Post"
            },
            {
              "key": "Status",
              "selectValue": "Draft"
            },
            {
              "key": "Word Count",
              "numberValue": "={{ $('Basic LLM Chain').item.json.response ? $('Basic LLM Chain').item.json.response.split(/\\s+/).length : 0 }}"
            },
            {
              "key": "Target Audience",
              "selectValue": "General"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "paragraph",
              "richText": true,
              "text": "={{ $('Basic LLM Chain').item.json.response || $('Basic LLM Chain').item.json.text || $('Basic LLM Chain').item.json }}"
            },
            {
              "type": "paragraph",
              "richText": true,
              "text": "\n\n---\nDebug Information:\n- Transcript word count: {{ $('Merge Transcript Data').item.json.wordCount }}\n- Debug info: {{ $('Merge Transcript Data').item.json.debugInfo }}\n- Page URL: {{ $('Merge Transcript Data').item.json.pageUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create_blog",
      "name": "Create Blog Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1650, 300],
      "credentials": {
        "notionApi": {
          "id": "notion_credentials",
          "name": "Notion account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Find Videos to Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Videos to Process": {
      "main": [
        [
          {
            "node": "Extract Transcript from Properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Transcript from Properties": {
      "main": [
        [
          {
            "node": "Has Transcript?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Transcript?": {
      "main": [
        [
          {
            "node": "Merge Transcript Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Page Blocks (Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Blocks (Fallback)": {
      "main": [
        [
          {
            "node": "Merge Transcript Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Transcript Data": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Vertex Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Prompt Template": {
      "ai_prompt": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_prompt",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create Blog Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  }
}